---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";  

const meta = {
	description: "self-introduction",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I sometimes like to write about what I’ve been doing. It’s like a diary.
			There’s no guarantee that this little diary will be helpful to you,
			but I hope it won’t be a bad way to spend your time. That’s all. 
		</p>
	</div>
</PageLayout>
