---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";  

const meta = {
	description: "self-introduction",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I sometimes post what I learned.
		</p>
		<p>My interest</p>
		<ul class="list-inside list-disc" role="list">
			<li>Statistics</li>
			<li>Proof theory</li>
			<li>and some other stuff</li>
		</ul>
		<SocialList />
	</div>
</PageLayout>
